section.finish-work.main__finish-work
    hr.gorisont-line
    h2.finish-work__title Фото выполненных работ
    p.finish-work__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    div.finish-work__photos
        img.finish-work__photo(src=require("../../../images/house-1.png"), alt="")
        img.finish-work__photo(src=require("../../../images/house-2.png"), alt="")
        img.finish-work__photo(src=require("../../../images/house-3.png"), alt="")
        img.finish-work__photo(src=require("../../../images/house-4.png"), alt="")
        img.finish-work__photo(src=require("../../../images/house-5.png"), alt="")
        img.finish-work__photo(src=require("../../../images/house-6.png"), alt="")
        img.finish-work__photo(src=require("../../../images/house-7.png"), alt="")
        img.finish-work__photo(src=require("../../../images/house-8.png"), alt="")